.headerList {
    background-color: #232323;
        border-bottom: 2px solid #BB0A21;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
        color: #ffffff;
        padding: 20px;
        text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;  
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.containerCard {
    border: 1px solid rgb(49, 46, 46);
        border-radius: 8px;
}

.avatar {
    height: 400px;
    width: 250px;
    object-fit: cover;
    background-color: #f0f0f0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nickname {
    text-decoration: none;
    color: silver;
    padding: 10px 15px;
    text-decoration: none;
}

.loadMoreContainer {
    display: flex;
        justify-content: center;
    margin-top: 30px;
}

.loadMoreButton {
    display: flex;
        justify-content: center;
        align-items: center;
            width: 110px;
                height: 40px;
                background-color: #1a1a1a;
                color: #e0e0e0;
                border: 2px solid #8b0000;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s;
}

.loadMoreButton:hover {
    background-color: #333333;
}

.loadMoreIcon {
    width: 25px;
    height: 25px;
}