.buttonCreate {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
    /* margin-left: 20px; */
    margin: 5px 15px;
color: #fff;
display: flex;
align-items: center;
gap: 10px;
font-size: 14px;
transition: background-color 0.3s ease, color 0.3s ease;
border-radius: 5px;
}

.buttonCreate:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

.iconCreate {
width: 25px;
height: 25px;
}

.closeButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.closeIconModal {
    
    width: 25px;
        height: 25px;
}